image-queue {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  height: 250px;
  max-height: 250px;
  min-height: 1px;
  background-color: #efefef;
  text-align: center;
}

img{
    display: inline-block;
    max-width: 200px;
    height: 150px!important;
    margin-bottom: 30px;
  }
