image-queue {
    background: #ccffff;
    position: fixed;
    height: 75px;
    right: 0;
    bottom: 0px;
    width: 100%;
    padding: 5px 0px;
    display: block;
    /*overflow-y: scroll;*/
    /*transform: translateX(350px);*/
    /*transition: all .5s ease-in-out;*/

    /*&.active {
        transform: translateX(0);
    }*/
}
