main {
  /*// flex: 5 0 0;*/
  background: #ccffcc;

  /*padding: 10px 20px;*/
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  
  margin-top: 50px;
  margin-left: 200px;
  margin-bottom:282px;

  width: auto;
  position: fixed;

}
